<div class="pt-6 divide-y divide-gray-200">
  <div class="px-4 sm:px-6">
    <div>
      <h2 class="text-lg font-medium text-gray-900 leading-6">Privacy</h2>
      <p class="mt-1 text-sm text-gray-500">
      Ornare eu a volutpat eget vulputate. Fringilla commodo amet.
      </p>
    </div>
    <ul class="mt-2 divide-y divide-gray-200">
      <li class="flex items-center justify-between py-4">
        <div class="flex flex-col">
          <p class="text-sm font-medium text-gray-900" id="privacy-option-1-label">
          Available to hire
          </p>
          <p class="text-sm text-gray-500" id="privacy-option-1-description">
          Nulla amet tempus sit accumsan. Aliquet turpis sed sit lacinia.
          </p>
        </div>
        <!-- Enabled: "bg-teal-500", Not Enabled: "bg-gray-200" -->
        <button type="button" class="relative inline-flex flex-shrink-0 h-6 ml-4 bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" aria-pressed="true" aria-labelledby="privacy-option-1-label" aria-describedby="privacy-option-1-description">
          <span class="sr-only">Use setting</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-0 transform ring-0 transition ease-in-out duration-200"></span>
        </button>
      </li>
      <li class="flex items-center justify-between py-4">
        <div class="flex flex-col">
          <p class="text-sm font-medium text-gray-900" id="privacy-option-2-label">
          Make account private
          </p>
          <p class="text-sm text-gray-500" id="privacy-option-2-description">
          Pharetra morbi dui mi mattis tellus sollicitudin cursus pharetra.
          </p>
        </div>
        <!-- Enabled: "bg-teal-500", Not Enabled: "bg-gray-200" -->
        <button type="button" class="relative inline-flex flex-shrink-0 h-6 ml-4 bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" aria-pressed="false" aria-labelledby="privacy-option-2-label" aria-describedby="privacy-option-2-description">
          <span class="sr-only">Use setting</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-0 transform ring-0 transition ease-in-out duration-200"></span>
        </button>
      </li>
      <li class="flex items-center justify-between py-4">
        <div class="flex flex-col">
          <p class="text-sm font-medium text-gray-900" id="privacy-option-3-label">
          Allow commenting
          </p>
          <p class="text-sm text-gray-500" id="privacy-option-3-description">
          Integer amet, nunc hendrerit adipiscing nam. Elementum ame
          </p>
        </div>
        <!-- Enabled: "bg-teal-500", Not Enabled: "bg-gray-200" -->
        <button type="button" class="relative inline-flex flex-shrink-0 h-6 ml-4 bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" aria-pressed="true" aria-labelledby="privacy-option-3-label" aria-describedby="privacy-option-3-description">
          <span class="sr-only">Use setting</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-0 transform ring-0 transition ease-in-out duration-200"></span>
        </button>
      </li>
      <li class="flex items-center justify-between py-4">
        <div class="flex flex-col">
          <p class="text-sm font-medium text-gray-900" id="privacy-option-4-label">
          Allow mentions
          </p>
          <p class="text-sm text-gray-500" id="privacy-option-4-description">
          Adipiscing est venenatis enim molestie commodo eu gravid
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

