<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="px-4 py-12">
    <h1 class="pulsing-text">
      Hello! Welcome. Tailwind is working :)
    </h1>
    <button id="blink-button" data-reflex="click->Home#blink">Click To Change Number</button>
  </div>
</div>
