<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="px-4 py-12">
    <h1 class="pulsing-text">
      ID: <%= @num %>
    </h1>
    </br>
    <%= link_to 'home', '/' %>
  </div>
</div>
